body {
  font-family: var(--toastify-font-family);
  color: var(--toastify-text-color-light);
  background-color: var(--clr-backgrnd);
  min-height: 100vh;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: hsla(0,0%,100%,0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(90deg,#4cd964,#5ac8fa,#007aff,#34aadc,#5856d6,#ff2d55);
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
  --clr-backgrnd: #f0f0f0;
  --transp-black: rgba(0,0,0,0.8);
  --fw-thick: 800;
  --fw-medium:600;
  --fw-thin:300;
  --bd-padding:1rem;
  --br-normal:0.2rem;
  --flx-gap:1rem;
  --card-gap:2rem;
}

.hidden {
  display: none;
}

.flex-container {
  display: flex;
  gap: var(--flx-gap);
}

header {
  background-color: var(--toastify-color-light);
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: var(--bd-padding);
}

.top-header .daft-logo {
  width: 4.5rem;
  height: auto;
}

.top-header .burger-menu {
  width: 1.8rem;
  height: auto;
}

.search-container {
  display: flex;
  row-gap: 1.2rem;
  flex-direction: column;
}

.search-container .location-input {
  display: flex;
  justify-content: space-between;
  padding: var(--bd-padding);
  background-color: var(--clr-backgrnd);
  text-align: center;
  margin-left: var(--bd-padding);
  margin-right: var(--bd-padding);
  border-radius: var(--br-normal);
}

.search-container .selected-loc {
  color: var(--toastify-color-dark);
  font-weight: var(--fw-medium);
}

.search-container .add-loc {
  color: var(--toastify-text-color-light);
  font-weight: var(--fw-medium);
}

.search-container .filters {
  display: flex;
}

.filters > * {
  padding: 1rem;
  color: var(--toastify-spinner-color);
  font-weight: 600;
  font-size: 0.8rem;
  border: 1px solid var(--clr-backgrnd);
}

.filters .heart-icon {
  width: 3.2rem;
  height: auto;
}

.filters .price-selector, .filters .beds-selector {
  flex-basis: 100%;
}

.filters .filters-toggle, .filters .save-button {
  flex-basis: min-content;
}

.results-header {
  display: flex;
  padding: 2rem var(--bd-padding);
}

.results-header > .nr-of-properties {
  flex-basis: 100%;
  color: var(--toastify-color-dark);
  font-weight: var(--fw-medium);
  font-size: 0.8rem;
}

.results-header > .map-button {
  flex-basis: min-content;
  display: grid;
  place-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid var(--toastify-spinner-color);
  background-color: var(--toastify-toast-background);
  border-radius: var(--br-normal);
  color: var(--toastify-color-dark);
}

.large-card {
  background-color: var(--toastify-color-light);
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15rem 6rem;
  gap: 0.2rem;
}

.img-grid div {
  background-color: gray;
}

.img-grid .lg-picture {
  grid-column: 1/span 3;
  background-image: url("https://media.daft.ie/eyJidWNrZXQiOiJtZWRpYW1hc3Rlci1zM2V1IiwiZWRpdHMiOnsicmVzaXplIjp7ImZpdCI6ImNvdmVyIiwid2lkdGgiOjcyMCwiaGVpZ2h0Ijo0ODB9fSwib3V0cHV0Rm9ybWF0IjoianBlZyIsImtleSI6IjIvYy8yY2Q5NjBhYjY3MTQwZTY3ODA0MzEyYWFmOWNhNjIwMi5qcGcifQ==?signature=8570be41e29da7c96215d66a51315e095c62fd67442185e433c8c30d10cf4c2b");
  background-size: cover;
  position: relative;
}

.img-grid .sm-picture:nth-child(2) {
  background-image: url("../../Images/LargeCard/h2.webp");
  background-size: cover;
}

.img-grid .sm-picture:nth-child(3) {
  background-image: url("../../Images/LargeCard/h3.webp");
  background-size: cover;
}

.img-grid .sm-picture:nth-child(4) {
  background-image: url("../../Images/LargeCard/h4.webp");
  background-size: cover;
}

.img-grid .lg-picture::before {
  content: "VIEWING ADVISED";
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: 40%;
  font-size: 0.9rem;
  color: var(--toastify-color-light);
  background: var(--transp-black);
  text-align: center;
  font-weight: 600;
}

.lg-card-footer {
  padding: 1rem var(--bd-padding) 2.5rem var(--bd-padding);
  display: flex;
  flex-direction: column;
  row-gap: 0.6rem;
}

.lg-card-footer .adv-checkmark {
  text-transform: uppercase;
  color: var(--toastify-color-success);
  font-weight: 600;
  letter-spacing: 0.05rem;
  font-size: 0.7rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.4rem;
}

.lg-card-footer .adv-checkmark > img {
  width: 1rem;
  height: auto;
}

.house-location,
.house-price {
  display: block;
}

.lg-card-footer .house-location {
  color: var(--toastify-color-dark);
  font-weight: 600;
}

.lg-card-footer .house-price {
  font-weight: 700;
  font-size: 1.2rem;
  color: var(--toastify-color-dark);
}

.lg-card-footer .energy-rating-logo {
  align-self: end;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.card-footer > a {
  text-decoration: none;
  color: var(--toastify-color-info);
}

.card-footer .card-heart {
  width: 1.8rem;
  height: auto;
}

.houses-container {
  display: flex;
  flex-direction: column;
  row-gap: var(--card-gap);
  overflow-y: scroll;
}/*# sourceMappingURL=main.css.map */