.hidden{
    display:none;
}

.flex-container{
    display:flex;
    gap:var(--flx-gap);
}

.custom-input{
    // position:absolute;
    // width:40%;
    padding:0.5rem 0.5rem 0.5rem 1.5rem;
    border-radius:5px;
    color:#444343;
    // z-index:100;
    // width:40%;
    font-weight: 400;
    cursor:pointer;
    border: 1px solid #7e7c7c;

    &:focus{
        border: 2px solid #000;
    }
}

.pointer{
    cursor: pointer;
}

.hide{
    display: none !important;
}
