
header{
    background-color:var(--toastify-color-light);
    // --padding-std:1rem;
}

.top-header{
   
    display:flex;
    justify-content: space-between;
    padding:var(--bd-padding);
    position:relative;

}

.top-header .daft-logo{
    width: 4.5rem;
    height:auto;
}


@media screen and (max-width:650px){
    .navbar{
            position:absolute;
            background-color:#fff;
            // makes the navbar invisible
            z-index:-1;
            opacity:0;
            top:-1000px;

            
            display:flex;
            flex-direction:column;
            width:100%;
            height:50vh;
            left:0;
            text-align:center;
            transition: all 0.5s ease-in-out;
    }

    .navbar.active{
        z-index:999;
        opacity:1;
        top:100%;
        // transition: all 0.5s ease-in-out;
    
    }

    .navbar .categories{
            display:flex;
            flex-direction:column;
        
    }

    .navbar span{
            font-size:1.2rem;
            font-weight: 400;
            margin:0.6rem 0;
        
    }

    .navbar span a{
        text-decoration: none;
        color:var(--toastify-color-info);

    }

    .navbar .actions{
        display:flex;
        flex-direction: column;
    }

    .burger-menu{
        display:flex;
        flex-direction: column;
        // transform:rotate(90deg);
    }

    .burger-menu .bar{
        background-color: black;
        width:20px;
        height: 2px;
        display: inline-block;
        margin:2px 0;
        transition: all 0.5s ease-in-out;
    }

    .burger-menu.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(9px);
    }

    .burger-menu.active .bar:nth-child(2){
        opacity:0;
    }

    .burger-menu.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-9px);
    }
}



.search-container{
    display:flex;
    row-gap:1.2rem;
    flex-direction: column;
}

.search-container .location-input{
    display:flex;
    justify-content: space-between;
    padding:var(--bd-padding);
    background-color:var(--clr-backgrnd);
    text-align:center;

    margin-left:var(--bd-padding);
    margin-right:var(--bd-padding);
    border-radius: var(--br-normal);
}

.search-container .selected-loc{
    color:var(--toastify-color-dark);
    font-weight: var(--fw-medium);
}

.search-container .add-loc{
    color:var(--toastify-text-color-light);
    font-weight: var(--fw-medium);
}


.search-container .filters{
    display: flex;

    position:sticky;
    top:0;
}

.filters > *{
    padding:1rem;
    color:var(--toastify-spinner-color);
    // font-weight: var(--fw-thin);
    font-weight:600;
    font-size:0.8rem;

    border:1px solid var(--clr-backgrnd);
}

.filters .heart-icon{
    width:3.2rem;
    height:auto;
}





.filters .price-selector,.filters .beds-selector{
    flex-basis:100%;
}

.filters .filters-toggle, .filters .save-button{
    flex-basis:min-content;
}