
header{
    background-color:var(--toastify-color-light);
    // --padding-std:1rem;
}

.top-header{
   
    display:flex;
    justify-content: space-between;
    padding:var(--bd-padding);
    position:relative;

}

.top-header .daft-logo{
    width: 4.5rem;
    height:auto;
}


@media screen and (max-width:650px){
    .navbar{
            position:absolute;
            background-color:#fff;
            // makes the navbar invisible
            z-index:-1;
            opacity:0;
            top:-1000px;

            
            display:flex;
            flex-direction:column;
            width:100%;
            height:50vh;
            left:0;
            text-align:center;
            transition: all 0.5s ease-in-out;
    }

    .navbar.active{
        z-index:999;
        opacity:1;
        top:100%;
        // transition: all 0.5s ease-in-out;
    
    }

    .navbar .categories{
            display:flex;
            flex-direction:column;
        
    }

    .navbar span{
            font-size:1.2rem;
            font-weight: 400;
            margin:0.6rem 0;
        
    }

    .navbar span a{
        text-decoration: none;
        color:var(--toastify-color-info);

    }

    .navbar .actions{
        display:flex;
        flex-direction: column;
    }

    .burger-menu{
        display:flex;
        flex-direction: column;
        // transform:rotate(90deg);
    }

    .burger-menu .bar{
        background-color: black;
        width:20px;
        height: 2px;
        display: inline-block;
        margin:2px 0;
        transition: all 0.5s ease-in-out;
    }

    .burger-menu.active .bar:nth-child(1){
        transform: rotate(45deg) translateY(9px);
    }

    .burger-menu.active .bar:nth-child(2){
        opacity:0;
    }

    .burger-menu.active .bar:nth-child(3){
        transform: rotate(-45deg) translateY(-9px);
    }
}



.search-container{
    display:flex;
    row-gap:1.2rem;
    flex-direction: column;
}

.search-container .location-input{
    display:flex;
    justify-content: space-between;
    padding:var(--bd-padding);
    background-color:var(--clr-backgrnd);
    text-align:center;

    margin-left:var(--bd-padding);
    margin-right:var(--bd-padding);
    border-radius: var(--br-normal);
}

.search-container .selected-loc{
    color:var(--toastify-color-dark);
    font-weight: var(--fw-medium);
}

.search-container .add-loc{
    color:var(--toastify-text-color-light);
    font-weight: var(--fw-medium);
}


.search-container .filters{
    display: flex;
    position:relative;

   // position:sticky;
    // top:0;
}

.filters .price-selector,.filters .beds-selector,.filters .filters-toggle,.filters .heart-icon{

    cursor:pointer;
    padding:1rem;
    color:var(--toastify-spinner-color);
    // font-weight: var(--fw-thin);
    font-weight:600;
    font-size:0.8rem;

    border:1px solid var(--clr-backgrnd);
}

.filters .heart-icon{
    width:3.2rem;
    height:auto;
}

.filters .price-selector,.filters .beds-selector{

    &.selected{
        border-bottom:none;
    }
}





.filters .price-selector,.filters .beds-selector{
    flex-basis:100%;
}

.filters .filters-toggle, .filters .save-button{
    flex-basis:min-content;
}

.filters{
    &__rangeSelector{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        // height:4rem;
        background-color: #fff;
        z-index:100;

        &.hide{
            display:none;
        }

        padding: 1rem;
    }

    .minmaxContainer{
        display:flex;
        justify-content: space-between;
        margin-bottom:1rem;

        span{
            display: flex;
            align-items: center;
        }

        .min-input,
        .max-input{
            width:40%;
        }
    }

    .done-btn{
        padding:0.5rem;
        border-radius:5px;
        color:#444343;
        font-weight: 600;
        cursor:pointer;
        border: 1px solid #7e7c7c;
        width:60%;
        display:block;
        margin-left:auto;
        margin-right:auto;
        background-color: #fff;
        text-align: center;
    }

    .range-panel{
        background: #fff;
        position: fixed;
        top:0rem;
        bottom:0rem;
        left:1rem;
        right:1rem;
        z-index:101;
        border-radius:20px;
        border:1px solid #000;
        overflow:auto;

        .panel-option{
            display: flex;
            justify-content: space-between;
            padding:1rem;
            font-size:1.3rem;

            span{
                color:#000;
            }
            
            .radio-btn{
                width:1.5rem;
                color:#0b6a77;
            }

            &:not(:nth-last-child(1)){
                border-bottom: 1px solid #7e7c7c;
            }
        }

        &.hide{
            display: none;
        }


        
    }

    

    
}


.filters-view{
    height:100vh;
    width:100vw;
    background-color: #fff;
    padding:2rem 1rem 4rem 1rem;

    position:fixed;
    left:0;
    top:0;
    z-index:1000;

    .close-container{
        text-align:right;
    }

    .input-trigger{
        width:100%;
        padding:1rem 1.5rem;
        background-color: #eee;
        display:flex;
        justify-content: space-between;
        cursor: pointer;

        span:nth-child(1){
            color:#555;
        }

        span:nth-child(2){
            color:#aaa;
        }
    }

    .input-trigger.hide{
        display: none;
    }

    .totalPropertiesDisplay_container{
        position: fixed;
        bottom:2rem;
        left:0;

        display: flex;
        justify-content: center;
        width:100%;
    }

    .totalPropertiesDisplay{
        background-color: blue;
        color:#fff;
        text-align:center;
        font-weight:bold;
        padding:1rem 0;
        width:95%;
    }

    .inputs-container{
        width:100%;
    }

    //Locations-input-container

    .locations-input-container{
        width:100%;
        margin:auto;
        padding:1rem;
        /* height:25vh; */
    
        background-color:#fff;
        /* box shadow */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 5px;
    
        position:relative;
    }

    .locations-input-container.hide{
        display: none;
    }
    
    .location-cards-container{
        display: flex;
        flex-wrap: wrap;
        column-gap: 0.6rem;
        row-gap:0.6rem;
    
        margin-bottom:1rem;
    }
    
    .location-card{
        padding:0.5rem;
        border-radius:5px;
        color:blue;
        font-weight: bold;
        font-size:0.8rem;
        text-transform: uppercase;
        border:1px solid blue;
        display: inline-block;
    }
    
    .locations-input{
        border:none;
        background-color: #fff;
        outline: none;
        font-size: 1.2rem;
    
        margin-bottom:1rem;
    }
    
    .btn-container{
        display: flex;
        justify-content: right;
    }
    
    .filters-view__btn{
        padding:0.5rem 1rem;
        background-color: #fff;
        border:1px solid #bbb;
        border-radius:3px;
    
        margin-left:auto;
    }
    
    .suggestions-list{
        position: absolute;
        top:98%;
        left:0;
    
        width:100%;
        background-color: blue;
    
    
        padding:1rem 0;
    
        background-color:#fff;
        /* box shadow */
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
    
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
    .suggestions-list.hide{
        display: none;
    }
    
    .suggestion{
        padding:0.5rem 1rem;
    
        display: flex;
        justify-content: space-between;
    }
    
    .suggestion:nth-child(1){
        background-color: #ddd;
    }












    //End of Locations-input-container




}



