.pageIndex-container{
    display:flex;
    justify-content: center;
    column-gap:2rem;
    
    font-size:0.8rem;
    margin-bottom:1.5rem;
}

.pageIndex-footer{
    margin:1.5rem 0;
}

.pageIndex-container > button{
    border-radius:var(--br-normal);
    font-weight: 600;
}

.pageIndex-container > .lg-btn{
    padding:0.3rem 1rem;
    background-color: var(--toastify-color-light);
    border:1px solid var(--toastify-spinner-color);
    cursor:pointer;
}

.pageIndex-container > .index-btn{
    padding:0.3rem 1rem;
    background-color: var(--toastify-color-info);
    border-style:none;
    color:var(--toastify-color-light);
}

.pageIndex-footer > .showing{
    display:block;
    text-align:center;
    font-size:0.9rem;
    color:var(--toastify-spinner-color);
}

.mini-nav{
    display: flex;
    flex-wrap:wrap;
}

